<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>table th, table td {
        padding: 5px;
    } </style>
</head>
<body>
<h1 th:utext="${user.firstname}"></h1>
<table th:border="1">
    <tr>
        <th>Your id</th>
        <th>Your Name</th>
        <th>your last_Name</th>
        <th>Your phone_Number</th>
    </tr>
    <td th:utext="${user.id}">
    <td th:utext="${user.firstname}">
    <td th:utext="${user.last_name}">
    <td th:utext="${user.phoneNumber}">
    </td>
</table>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>