<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Регистрация</h1>
    <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
    <form th:method="POST" th:action="@{/loginning}">
        Введите имя : <input type="text" name="firstname"/>
        <br/>
        Введите фамилию : <input type="text" name="last_name"/>
        <br/>
        Введите телефон : <input type="text" name="phoneNumber"/>
        <br/>
        Введите пароль : <input type="text" name="password"/>
        <br/>
        <input type="submit" value="Create!">
    </form>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form></div>
</body>
</html>